#map-mount svg path {
  fill: white;
  stroke: #666;
}

#tooltip {
  background-color: white;
  opacity: 0;
  z-index: 2;

  padding: 0.5em 1em;

  position: absolute;
  left: 0;
  top: 0;
}

#tooltip:hover {
  opacity: 1 !important;
}
